.sidebar{
    height: 100vh;
    background: #f1f1f1;
    h3{
        min-height: 50px;
        a {
            text-decoration: none;
            color: initial;
        }
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li a{
            display: block;
            padding: 8px 16px;
            text-decoration: none;
            color: #000;
            overflow: auto;
            height: 100%;
            
            &:hover {
                background-color: #555;
                color: white;
            }
        }
    }
}

.banner{
    box-shadow: 1px 1px 1px grey;
    min-height: 50px;
}

i{
    &.fa-edit{
        color: blue;
    }
    &.fa-trash-alt{
        color: red;
    }
    &:hover{
        cursor: pointer;
    }
}