.navbar{
    background-color: $major-primary-color;
}
.sidebar{
    min-height: 100vh;
    // background: #f1f1f1;
    background: $minor-primary-color;

    .active{
        background-color: maroon;
        color: white;
    }
    h3{
        min-height: 50px;
        a {
            text-decoration: none;
            color: #000;
        }
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li a{
            display: block;
            padding: 8px 16px;
            text-decoration: none;
            color: #000;
            overflow: auto;
            height: 100%;
            
            &:hover {
                background-color:$major-primary-color;
                color: white;
            }
        }
    }
}

.banner{
    box-shadow: 1px 1px 1px grey;
    min-height: 50px;

    .profile-img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}

i{
    &.fa-edit{
        color: blue;
    }
    &.fa-trash-alt{
        color: red;
    }
    &:hover{
        cursor: pointer;
    }
}